.carousel-item {
    height: 300px;
    width: 100%;
}

img {
    height: 300px;
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .carousel-item {
        height: 100px;
        width: 100%;
    }

    img {
        height: 100px;
        width: 100%;
    }

    .caption {
         font-size: 0.5rem;
    }
}